# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
.env

# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/*.tfvars
!infra/*.tfvars.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Spark / Delta local
spark-warehouse/
metastore_db/
derby.log

# Databricks
.databricks/
